@import url("http://fonts.cdnfonts.com/css/richard-hamilton");
.dashboard-navbar {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  background-color: white;
  overflow: visible;
}

.dashboard-navbar .dashboard-icon .dashboard-pic {
  margin: 0vh 2vw;
  height: 6vh;
}

.dashboard-navbar .dashboard-links {
  margin-left: auto;
  width: auto;
  height: auto;
  margin-right: 1.5rem;
  border-bottom: 1px solid #b6b3b3;
  padding: 1.2vh;
}

.dashboard-navbar .dashboard-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: auto;
  height: auto;
}

.dashboard-navbar .dashboard-links ul li {
  list-style: none;
  color: black;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 800;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.dashboard-navbar .dashboard-links ul li:hover {
  color: #f00080;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#courseSearch {
  position: absolute;
  left: 38vw;
  background-color: #cbf1f8;
  border-radius: 20px;
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#courseSearch #courseSearchBar {
  height: 3vh;
  width: 20vw;
  border: none;
  background-color: rgba(250, 235, 215, 0);
  outline: none;
}

#courseSearch button {
  margin-left: 1vw;
  background-color: rgba(250, 235, 215, 0);
  border: none;
}

#courseSearch button img {
  height: 2vh;
}

#courseSearch button:hover {
  cursor: pointer;
}

input[list] {
  color: #008cff;
  font-weight: bolder;
}

datalist option {
  font-size: 0.8em;
  padding: 0.3em 1em;
  background-color: #ccc;
  cursor: pointer;
}

.Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  overflow-x: hidden;
  padding-bottom: 5vh;
  background-color: rgba(253, 253, 253, 0.486);
  -webkit-backdrop-filter: blur(0.1rem);
          backdrop-filter: blur(0.1rem);
}

#AllCoursesPageBody {
  background-image: url("../resources/pattern1Blob.png");
  background-size: contain;
  background-repeat: repeat;
  background-size: 40vh;
  background-attachment: fixed;
}

.SectHeader {
  font-family: 'Richard Hamilton';
  color: darkgoldenrod;
}

.OneSection {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.OneSection a {
  text-decoration: none;
  color: black;
}

.OneSection a .CoursesCard {
  height: 18vh;
  position: relative;
  width: 40vw;
  margin-top: 3vh;
  background-color: rgba(255, 255, 255, 0.965);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-filter: drop-shadow(10px 10px 10px grey);
          filter: drop-shadow(10px 10px 10px grey);
}

.OneSection a .CoursesCard .infoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.OneSection a .CoursesCard img {
  height: 18vh;
  width: 15vw;
  border-radius: 1rem;
}

.OneSection a .CoursesCard .spanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.OneSection a .CoursesCard h4,
.OneSection a .CoursesCard h2,
.OneSection a .CoursesCard h5,
.OneSection a .CoursesCard h6 {
  margin: 0.5vh 1vw;
}

.OneSection a .CoursesCard .span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.OneSection a .CoursesCard .span img {
  height: 3vh;
  width: auto;
  margin: 0.5vh 1vw;
}

.OneSection a .CoursesCard p {
  margin: 0.5vh 1vw;
}

.OneSection a .CoursesCard:hover {
  background-color: #f5efef;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.OneSection a .CoursesCard:hover img,
.OneSection a .CoursesCard:hover p,
.OneSection a .CoursesCard:hover h2,
.OneSection a .CoursesCard:hover h5,
.OneSection a .CoursesCard:hover h4 {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.OneSection a .CoursesCard:hover h6 {
  display: visible;
  color: #046666;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.OneSection a .CoursesCard:hover h6:hover {
  color: #4b4300;
}

h6 {
  font-size: large;
  position: absolute;
  right: 0;
  color: rgba(240, 248, 255, 0);
}

.res-NavButton {
  visibility: hidden;
}

.Upcoming {
  margin-top: 5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(253, 253, 253, 0.486);
  -webkit-backdrop-filter: blur(0.1rem);
          backdrop-filter: blur(0.1rem);
}

.CardHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.CardsContainer1,
.CardsContainer2 {
  width: 40vw;
  margin-right: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.UpcomingCoursesCard {
  height: 18vh;
  width: 40vw;
  margin: 4vh;
  background-color: rgba(255, 255, 255, 0.965);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-filter: drop-shadow(10px 10px 10px grey);
          filter: drop-shadow(10px 10px 10px grey);
}

.UpcomingCoursesCard .infoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.UpcomingCoursesCard img {
  height: 18vh;
  border-radius: 1rem;
}

.UpcomingCoursesCard .spanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.UpcomingCoursesCard h4,
.UpcomingCoursesCard h2,
.UpcomingCoursesCard h5,
.UpcomingCoursesCard h6 {
  margin: 0.5vh 1vw;
}

.UpcomingCoursesCard .span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.UpcomingCoursesCard .span img {
  height: 3vh;
  margin: 0.5vh 1vw;
}

.UpcomingCoursesCard p {
  margin: 0.5vh 1vw;
}

.UpcomingCoursesCard h6 {
  font-size: large;
  position: absolute;
  right: 0;
  color: rgba(240, 248, 255, 0);
}

.UpcomingCoursesCard:hover {
  background-color: #f5efef;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.UpcomingCoursesCard:hover img,
.UpcomingCoursesCard:hover p,
.UpcomingCoursesCard:hover h2,
.UpcomingCoursesCard:hover h5,
.UpcomingCoursesCard:hover h4 {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.UpcomingCoursesCard:hover h6 {
  display: visible;
  color: #046666;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.UpcomingCoursesCard:hover h6:hover {
  color: #4b4300;
}

@media screen and (max-width: 1000px) {
  .SectHeader {
    font-family: 'Richard Hamilton';
    color: darkgoldenrod;
    font-size: small;
  }
  .res-NavButton {
    overflow: visible;
    visibility: visible;
    position: absolute;
    top: 2vh;
    right: 4vw;
    z-index: 15;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .res-NavButton img {
    height: 3vh;
    width: 3vh;
  }
  .res-NavButton div {
    margin-top: 2vh;
    padding: 2vh;
    border-radius: 5vh 0vh;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    -webkit-backdrop-filter: blur(5rem);
            backdrop-filter: blur(5rem);
    -webkit-filter: drop-shadow(10px 10px 10px #a3a3a3);
            filter: drop-shadow(10px 10px 10px #a3a3a3);
  }
  .res-NavButton div ul {
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .res-NavButton div ul li {
    list-style: none;
  }
  .res-NavButton div a {
    color: black;
    text-decoration: none;
  }
  .dashboard-navbar .dashboard-links {
    visibility: hidden;
  }
  .dashboard-navbar .dashboard-links ul {
    visibility: hidden;
  }
  .dashboard-navbar .dashboard-links ul li {
    visibility: hidden;
  }
  #courseSearch {
    width: 58vw;
    margin-left: -12vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #courseSearch #courseSearchBar {
    height: 3vh;
    width: 50vw;
  }
  .dashboard-navbar .dashboard-icon .dashboard-pic {
    position: absolute;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    left: -5vw;
    top: 1vh;
  }
  .OneSection {
    margin-top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .OneSection .SectHeader {
    font-family: 'Richard Hamilton';
    color: darkgoldenrod;
  }
  .OneSection a .CoursesCard {
    height: 25vh;
    position: relative;
    width: 40vw;
    margin-top: 3vh;
    background-color: rgba(255, 255, 255, 0.965);
    border-radius: 0.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-filter: drop-shadow(10px 10px 10px grey);
            filter: drop-shadow(10px 10px 10px grey);
  }
  .OneSection a .CoursesCard .infoBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .OneSection a .CoursesCard img {
    height: 10vh;
    width: 100%;
    border-radius: 0.7rem;
  }
  .OneSection a .CoursesCard .spanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .OneSection a .CoursesCard .span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .OneSection a .CoursesCard .span img {
    height: 2vh;
  }
  .OneSection a .CoursesCard h5 {
    font-size: 1vh;
  }
  .OneSection a .CoursesCard p {
    font-size: 1vh;
  }
  .OneSection a .CoursesCard h2 {
    font-size: 1.5vh;
  }
  .OneSection a .CoursesCard h6 {
    font-size: 1.2vh;
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: rgba(240, 248, 255, 0);
  }
  .OneSection a .CoursesCard h4 {
    font-size: 1vh;
  }
  .OneSection a .CoursesCard h4,
  .OneSection a .CoursesCard h5,
  .OneSection a .CoursesCard h6,
  .OneSection a .CoursesCard p {
    margin: 0.7vh 1vw;
  }
  .OneSection a .CoursesCard h2 {
    margin: 1vh 1vw;
  }
  .OneSection a .CoursesCard:hover {
    background-color: #f5efef;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .OneSection a .CoursesCard:hover img,
  .OneSection a .CoursesCard:hover p,
  .OneSection a .CoursesCard:hover h2,
  .OneSection a .CoursesCard:hover h5,
  .OneSection a .CoursesCard:hover h4 {
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .OneSection a .CoursesCard:hover h6 {
    display: visible;
    color: #046666;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .OneSection a .CoursesCard:hover h6:hover {
    color: #4b4300;
  }
  .Upcoming .CardHolder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5vh;
  }
  .CardsContainer1 {
    margin-top: 5vh;
  }
  .UpcomingCoursesCard {
    height: 10vh;
    position: relative;
    width: 90vw;
    margin: 9vh;
    margin-top: -5vh;
    background-color: rgba(255, 255, 255, 0.965);
    border-radius: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-filter: drop-shadow(10px 10px 10px grey);
            filter: drop-shadow(10px 10px 10px grey);
  }
  .UpcomingCoursesCard .infoBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .UpcomingCoursesCard img {
    height: 10vh;
    border-radius: 1rem;
  }
  .UpcomingCoursesCard .spanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .UpcomingCoursesCard .span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .UpcomingCoursesCard .span img {
    height: 2vh;
  }
  .UpcomingCoursesCard h5 {
    font-size: 1vh;
  }
  .UpcomingCoursesCard p {
    font-size: 1vh;
  }
  .UpcomingCoursesCard h2 {
    font-size: 1.5vh;
  }
  .UpcomingCoursesCard h6 {
    font-size: 1.2vh;
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: rgba(240, 248, 255, 0);
  }
  .UpcomingCoursesCard h4 {
    font-size: 1vh;
  }
  .UpcomingCoursesCard h2,
  .UpcomingCoursesCard h4,
  .UpcomingCoursesCard h5,
  .UpcomingCoursesCard h6,
  .UpcomingCoursesCard p {
    margin: 0vh 1vw;
  }
  .UpcomingCoursesCard h4 {
    margin: 0.5vh 1vw;
  }
  .UpcomingCoursesCard:hover {
    background-color: #f5efef;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .UpcomingCoursesCard:hover img,
  .UpcomingCoursesCard:hover p,
  .UpcomingCoursesCard:hover h2,
  .UpcomingCoursesCard:hover h5,
  .UpcomingCoursesCard:hover h4 {
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .UpcomingCoursesCard:hover h6 {
    display: visible;
    color: #046666;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .UpcomingCoursesCard:hover h6:hover {
    color: #4b4300;
  }
  .CardHolder {
    margin-top: 8vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=AllCourses.css.map */