@mixin FlexStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

#CourseHeader {
  font-family: "Poppins", cursive;
  color: goldenrod;
}

.dashboard-navbar {
  position: fixed;
  top: 0;
  overflow: visible;
}

.CourseSidebar {
  height: 100vh;
  z-index: 2;
  width: 5vw;
  background: linear-gradient(to top, rgb(89, 0, 92), aqua, rgba(255, 255, 255, 0.466));
  background-position: left;
  background-repeat: no-repeat;
  background-size: 5px;
  backdrop-filter: blur(0.1rem);
  @include FlexStyle();
  position: fixed;
  top: 0;
  flex-direction: column;

  .CourseBar {
    @include FlexStyle();

    width: 5vw;
    cursor: pointer;
    transition-duration: 0.5s;

    margin-top: 2vh;

    img {
      height: 4vh;
    }
  }
}

.CourseBar {
  position: relative;
  display: inline-block;
}

.CourseBar .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: linear-gradient(to right, rgb(23, 200, 200), teal);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  margin-left: 10vw;
  z-index: 1;
}

.CourseBar:hover .tooltiptext {
  transition: all ease-in;
  visibility: visible;
}

.VideoBox {
  background-image: url("../resources/pattern1Blob.png");
  background-size: contain;
  background-repeat: repeat;
  background-size: 60vh;
  width: 100vw;

  @include FlexStyle();

  flex-direction: column;
  margin-top: 10vh;

  iframe {
    border-radius: 5vh;

    height: 80vh;
    width: 80vw;
  }

  #List {
    background-color: rgba(255, 255, 255, 0.438);
    backdrop-filter: blur(0.2rem);
    margin: 0vw 2vw;
    width: 70vw;

    @include FlexStyle();

    h4,
    h3 {
      width: 15vw;
      margin: 2vw;
    }
  }
}

.CodeAlong {
  @include FlexStyle();
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;

  #bp1 {
    height: 70vh;
    top: 5vh;
  }
  .CodeContainer {
    @include FlexStyle();
    position: relative;
    margin-left: 2vw;
    flex-direction: column;
    margin-top: 5vh;
    width: 90vw;
    height: 80vh;
    padding: 2vw;
    padding-top: 5vh;
    background-color: rgba(253, 253, 253, 0.486);
    backdrop-filter: blur(0.6rem);
    background-image: linear-gradient(aqua, purple), linear-gradient(to right, purple, aqua), linear-gradient(to bottom, purple, aqua), linear-gradient(to left, purple, aqua);
    background-repeat: no-repeat;
    background-size: 5px 95%, 70% 5px, 5px 70%, 75% 5px;
    background-position: left bottom, right bottom, right bottom, center top, 5px 5px;
    #outputLabel {
      position: absolute;
      right: 2vw;
      top: 1vh;
    }
    #codeLabel {
      position: absolute;
      left: -1.5vw;
      top: 4vh;
      transform: rotate(270deg);
      background: -webkit-linear-gradient(right, rgb(255, 19, 125), rgb(4, 180, 180));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    #codeAlongLabel {
      position: absolute;
      left: 0vw;
      top: -1vh;
      background: -webkit-linear-gradient(right, rgb(255, 19, 125), rgb(4, 180, 180));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    #Compiler {
      width: 100%;
      height: 80vh;
      display: flex;
      #CodeEditor {
        width: 100%;
        height: 65vh;
        resize: none;
        overflow: scroll;
        outline: none;
        border: none;

        font-size: larger;
        background-color: rgba(164, 213, 236, 0.1);
      }
      #output-window {
        width: 50%;
        padding: 1rem;
      }
      .RunCode {
        height: fit-content;
        background-color: transparent;
        border: none;
        margin-right: 2vh;
        cursor: pointer;
        img {
          height: 4vh;
        }
      }
    }
  }

  .button-container {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .button-leftmost {
    margin: 0;
    padding: 1vh 4vh;
    outline: none;
    background: rgb(210, 243, 243);
    border: 2px solid transparent;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right-color: transparent;
    border-bottom-color: transparent;
    filter: drop-shadow(5px 2px 5px grey);
    transition: all ease-in-out linear 200ms;
  }

  .button-leftmost:focus {
    background: white;
    filter: drop-shadow(5px 2px 5px transparent);
    border-left-color: grey;
    border-top-color: grey;

    z-index: -100;
  }

  .button-leftmost:hover + .button-middle {
    filter: drop-shadow(-2px 2px 5px grey);
  }

  .button-middle {
    margin: 0;
    padding: 1vh 4vh;
    outline: none;
    border: 2px solid transparent;
    background: rgb(210, 243, 243);
    filter: drop-shadow(5px 2px 5px grey);
  }

  .button-middle:focus {
    background: white;
    filter: drop-shadow(5px 5px 5px transparent);
    border-right-color: transparent;
    border-top-color: grey;
    border-bottom-color: grey;

    z-index: -100;
  }

  .button-middle:hover + .button-middle {
    filter: drop-shadow(-5px 2px 5px grey);
  }

  .button-rightmost {
    margin: 0;
    padding: 1vh 4vh;
    outline: none;
    border: 2px solid transparent;
    background: cyan;
    background: rgb(210, 243, 243);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-right-color: transparent;
    border-bottom-color: transparent;
    filter: drop-shadow(5px 2px 5px grey);
    transition: all ease-in-out linear 200ms;
  }

  .button-rightmost:focus {
    background: white;
    filter: drop-shadow(5px 2px 5px transparent);
    border-right-color: grey;
    border-top-color: grey;
    z-index: -100;
  }

  .button-rightmost:hover + .button-middle {
    filter: drop-shadow(-2px 2px 5px grey);
  }
}

.BooksBox {
  @include FlexStyle();
  position: relative;
  h2 {
    background: -webkit-linear-gradient(right, rgb(255, 19, 125), rgb(4, 180, 180));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    text-decoration: none;
  }

  width: 100vw;
  height: 100vh;
  .BooksContainer {
    @include FlexStyle();
    flex-direction: column;
    padding: 5rem;
    backdrop-filter: blur(0.6rem);
    width: 72vw;
    height: 80vh;
    background-color: rgba(253, 253, 253, 0.486);
    background-image: linear-gradient(aqua, purple), linear-gradient(to right, purple, aqua), linear-gradient(to bottom, purple, aqua), linear-gradient(to left, purple, aqua);
    background-repeat: no-repeat;
    background-size: 5px 50%, 50% 5px, 5px 50%, 50% 5px;
    background-position: left top, right bottom, right bottom, left top, 5px 5px;
  }

  hr {
    width: 60%;
    height: 2px;
    margin-top: 2vh;
    background-color: rgba(156, 156, 156, 0.473);
    border: none;
  }
  .insideHR {
    width: 5%;
  }
  .BookInfo {
    display: flex;
    margin: 2vh 0vh 4vh 0vh;

    .BookTitle,
    .AuthorTitle,
    .BookDesc,
    .ViewBook,
    .DownloadBook {
      width: 15vw;
      margin: 2vh 2vh 0vh 0vh;
      padding: 1vh;
      border-radius: 10px;
    }

    .BookDesc {
      width: 30vw;
    }
    .ViewBook,
    .DownloadBook {
      cursor: pointer;

      background: -webkit-linear-gradient(right, rgb(141, 1, 64), rgb(4, 180, 180));
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      width: 8vw;
      text-align: center;
    }
  }
}

#bp1 {
  position: absolute;
  height: 120vh;
  top: -35vh;
  left: -10vh;
  z-index: -1;
}
#bp2 {
  position: absolute;
  height: 60vh;
  bottom: -5vh;
  right: 0vh;
  z-index: -1;
}

.MetricsItem {
  @include FlexStyle();
  flex-direction: column;
  h3 {
    margin: 1vh;
  }
}

.Performance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  div {
    display: flex;
  }
  .MetricsItem {
    margin: 1vh;
  }
}

#FeedBack {
  .BooksContainer {
    justify-content: space-evenly;
    position: relative;
    .RatingsBar {
      height: 20vh;

      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      .RatingsSpanner {
        display: flex;
        width: 20vw;
        overflow: hidden;
        align-items: center;
        hr {
          margin-left: 1vw;
          height: 0.8vh;
          margin-top: 0vh;
          border-radius: 5px;
        }
      }
    }
  }
}

.FeedBackModal {
  margin-left: 0vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  padding: 5rem;
  backdrop-filter: blur(6rem);
  width: 90%;
  height: 60vh;
  top: 10%;
  #feedbackicon {
    height: 10vh;
    margin-bottom: 5vh;
  }

  h4 {
    margin-top: 2vh;
    color: red;
  }

  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(aqua, purple), linear-gradient(to right, purple, aqua), linear-gradient(to bottom, purple, aqua), linear-gradient(to left, purple, aqua);
  background-repeat: no-repeat;
  background-size: 5px 50%, 50% 5px, 5px 50%, 50% 5px;
  background-position: right top, right top, left bottom, left bottom, 5px 5px;
}

.OverallRatingsFeedBack {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  img {
    height: 4vh;
  }
  h2 {
    width: 50%;
    text-align: left;
  }
}

.RatingsChart {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
  #bp1,
  #bp2,
  .CourseSidebar,
  #List {
    display: none;
  }

  #FeedBack {
    margin-top: 10vh;

    height: fit-content;
    .BooksContainer {
      height: 100vh;
      width: 90vw;

      h2 {
        font-size: 3vh;
      }

      .RatingsBar {
        margin-top: 5vh;
        flex-direction: column;
        height: 80%;
      }
    }
  }

  .Performance {
    margin-top: 5vh;
    div {
      flex-direction: column;
    }
  }

  .RatingsChart {
    width: 80vw;
  }

  .FeedBackModal {
    height: 100vh;
    top: 0;
    width: 90vw;
    .OverallRatingsFeedBack {
      width: 95vw;
      margin-bottom: 3vh;
      flex-direction: column;
      justify-content: center;
      h2 {
        margin-bottom: 1vh;
        font-size: 1.2vh;
        text-align: center;
      }
      h1 {
        display: none;
      }
    }
  }

  .VideoBox {
    background-size: 10vh;
  }

  #List {
    visibility: hidden;
    width: 0vw;
    overflow: hidden;
  }

  .res-NavButton {
    visibility: visible;
    position: absolute;
    right: 4vw;
    z-index: 15;
    img {
      height: 3vh;
    }
  }

  #CourseHeader {
    min-width: 40vw;
    font-size: small;
    margin-left: 30vw;
  }

  .BooksBox {
    #bp1 {
      visibility: hidden;
    }
    height: auto;
    flex-direction: column;

    .BooksContainer {
      margin-left: 0vw;

      text-align: center;
      width: 95vw;
      height: auto;
    }
    .BookInfo {
      flex-direction: column;
      .BookTitle,
      .AuthorTitle,
      .BookDesc,
      .ViewBook,
      .DownloadBook {
        width: 80vw;
        margin: 2vh 2vh 0vh 0vh;
        padding: 1vh;
        border-radius: 10px;
        text-align: center;
        background-color: rgba(207, 235, 247, 0.726);
      }

      .BookDesc {
        width: 80vw;
      }

      #BookLinks {
        display: flex;
        width: 80vw;
        align-items: center;
        justify-content: center;
      }
      .ViewBook,
      .DownloadBook {
        width: 30vw;
      }
    }
  }
  .VideoBox iframe {
    height: 25vh;
    border-radius: 2vh;
  }

  .CodeAlong {
    .button-container {
      width: 100vw;
      display: flex;
      justify-content: center;
      button {
        font-size: 2vw;
        width: 15vw;
        text-align: center;
      }
    }

    .button-middle,
    .button-leftmost,
    .button-rightmost {
      padding: 1vh 1vw;
    }
    padding-bottom: 5vh;
    .CodeContainer {
      background-image: none;
      width: 95vw;
      margin-left: 0;
      #Compiler {
        flex-direction: column;

        #CodeEditor {
          height: 80vh;
          font-size: small;
        }
        #output-window {
          width: 100%;
          height: 70vh;
        }
        #codeAlongLabel {
          top: -5vh;
        }
        #outputLabel {
          position: static;
        }
        .RunCode {
          @include FlexStyle();
          width: 100%;
        }
      }
    }
  }
}
