#bgdiv {
  #bg {
    height: 100vh;
    position: fixed;
    right: 0;
    bottom: 10px;
    z-index: -1;
  }
}

@mixin flexAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.successNotifier {
  position: absolute;
  width: 30vw;
  height: 30vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 25;
  top: 5vh;
  left: 35vw;
  border-radius: 2vh;
  filter: drop-shadow(10px 10px 10px grey);
  img {
    height: 20vh;
  }
}

form {
  height: 70vh;
  width: 50vw;
  background-color: white;
  z-index: 10;
  @include flexAlign();
  flex-direction: column;

  h1 {
    font-size: 4vh;
    margin-bottom: 0vh;

    color: rgb(6, 161, 167);
  }
  h3 {
    margin: 5vh;
  }

  hr {
    width: 30%;
    height: 3px;
    margin-bottom: 0vh;
    background-color: rgba(0, 255, 255, 0.486);
    border: none;
  }

  .formElem {
    position: relative;
    margin: 2vh;
    z-index: 10;

    @include flexAlign();
    input,
    datalist {
      padding: 30px;
      padding-left: 80px;
      font-weight: bold;

      width: 25vw;
      height: 5vh;
      border-radius: 10px;
      outline: none;
      border: none;
      background-color: rgb(229, 244, 248);
      font-size: 120%;

      &::placeholder {
        font-size: 80%;
      }
    }

    datalist {
      font-size: 100%;
      padding: 5px;
      padding-left: 80px;
      padding-right: 5px;
      option {
        background-color: white;
      }
    }
    img {
      margin-right: 2vh;
      height: 70%;
      position: absolute;
      left: 2vh;
      border-radius: 20px;
    }
  }
  h4 {
    width: 50%;
    margin: 2vh;
    font-size: 2vh;
    text-align: right;
    color: rgb(43, 56, 59);
  }
  #submit {
    width: 50%;
    margin: 2vh;
    height: 4vh;
    font-size: 2vh;
    @include flexAlign();
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    background: linear-gradient(to left top, rgb(84, 204, 204), rgb(0, 226, 226));
  }

  input:focus {
    border: 2px solid teal;
  }
}

#secure {
  text-align: center;
  width: 50vw;

  height: 10vh;
  background-color: rgba(255, 255, 255, 0);
  background-color: white;

  @include flexAlign();

  img {
    height: 8vh;
  }
  b {
    color: rgba(26, 126, 1, 0.925);
    font-weight: bolder;
  }

  position: absolute;
  left: 0vw;
  bottom: 5vh;
}
#sec {
  width: 40%;
  height: 2px;
  margin: 5vh 10vh 0vh;

  background-color: rgba(97, 110, 110, 0.486);
  border: none;
}

.Setting {
  width: 50vw;
  margin: 2vh;
}

.active {
  visibility: visible;
  background-color: white;
}

.hidden {
  display: none;
  background-color: white;
}

#sign {
  width: 50vw;
  @include flexAlign();

  button {
    font-size: 2vh;
    font-weight: bold;
    color: rgb(13, 209, 209);
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
}

h3 {
  button {
    cursor: pointer;
  }
}

#signUp {
  .formElem {
    margin: 0.5vh;
    input {
      padding: 20px;
      padding-left: 80px;
    }
  }
}

.resetModal {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
  z-index: 250;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    position: absolute;
    right: 20vw;
    top: 5vh;
  }

  .resetLogo {
    @include flexAlign();
    img {
      height: 10vh;
    }
    margin-bottom: 5vh;
  }

  .form {
    h1 {
      position: unset;
    }
    height: 100vh;
    @include flexAlign();
    flex-direction: column;
    justify-content: center;
    input {
      width: 30vw;
      padding: 2vh 2vw;
      font-size: medium;
      margin-bottom: 5vh;
    }
  }

  button {
    padding: 1vh 2vw;
    font-size: large;
  }
  #OTPStyle {
    border: none;
    outline: none;
    text-align: center;
    font-size: 5vh;
    font-family: Poppins;
  }
}

@media screen and (max-width: 1000px) {
  .resetModal {
    .form {
      h1 {
        position: unset;
      }
      height: 100vh;
      @include flexAlign();
      flex-direction: column;
      justify-content: center;
      input {
        width: 80vw;
        padding: 2vh 2vw;
        font-size: medium;
        margin-bottom: 5vh;
      }
    }
    #OTPStyle {
      border: none;
      outline: none;
      text-align: center;
      font-size: 2.5vh;
      font-family: Poppins;
    }
  }

  #bgdiv {
    #bg {
      display: none;
    }
  }

  .successNotifier {
    width: 70vw;
    left: 15vw;
    text-align: center;
  }
  #nav {
    width: 100vw;
    @include flexAlign();
    margin-top: 1vh;
    img {
      height: 8vh;
    }
  }
  form {
    height: 65vh;
    h1 {
      font-size: 3vh;
    }

    img {
      transform: scale(0.8);
    }
    width: 100vw;
    transform: scale(0.9);
    .formElem {
      input,
      select {
        width: 80vw;
        height: 4vh;
      }
    }
    #submit {
      width: 80vw;
      height: 5vh;
    }
    h4 {
      width: 80%;
    }
  }
  #sign {
    width: 100vw;
    font-size: 2vh;
    @include flexAlign();
    margin-top: 0;
  }
  #sec {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 6vh;
  }
  #secure {
    width: 100vw;
    font-size: 1vh;
    position: absolute;
    bottom: 1vh;
  }
}
