@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

.OurCoursesSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.OwnerBlob1 {
  position: absolute;
  bottom: -25vh;
  z-index: 0;
  width: 50vw;
  left: -30vh;
  height: 100vh;
  transform: rotate(180deg);
}

.OwnerBlob2 {
  position: absolute;
  top: 0vh;
  z-index: -1;
  width: 50vw;
  right: -30vh;
  height: 100vh;
}
.SectionHeader {
  text-align: center;
  color: rgb(4, 163, 163);
  width: 100vw;
  height: auto;
  display: grid;
  place-items: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.5vw;
  padding: 0.3rem;
}

.OurTeam {
  text-align: center;
  color: rgb(4, 163, 163);
  width: 10vw;
  height: auto;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 8vh;
  /* padding: 0.3rem; */
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: absolute;
  /* margin-right: 10vh; */
  top: 30vh;
  left: -3vw;
}
.CardsContainer {
  margin-top: 10vh;
  margin-right: 2vw;
  width: 80vw;
  margin-left: 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
  row-gap: 5vw;
}
.AboutUs-Des {
  text-align: center;
  color: rgb(173, 173, 173);
}
.OwnersCards {
  position: relative;
  border: 1px solid transparent;
  border-top-color: rgb(4, 163, 163);
  border-top-width: 5px;
  padding: 0.5rem;
  width: 40vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0;
  border-radius: 20px;
  background: white;
  filter: drop-shadow(10px 10px 10px grey);
  transition: all ease-in-out 300ms;
}
.OwnersCards:hover {
  transform: scale(1.05);

  filter: drop-shadow(40px 5px 10px grey);
}
.OwnerImage {
  left: 8vw;
  width: 19vh;
  height: 19vh;
  margin-top: -25vh;
  margin-bottom: 2vh;
  border-radius: 30rem;
  filter: drop-shadow(10px 10px 10px grey);
}
.OwnerInfo {
  width: 20vw;
  margin-left: -5vw;
  padding-top: 4rem;
  text-align: center;
  
  place-items: center;
}
.OwnerName {
  font-size: 3vh;

  color: rgb(4, 163, 163);
}
.Ownerole {
  color: grey;
  font-size: 1.6vh;
  
}
.OwnerDetails {
  list-style: none;
  margin-top: -5vh;
  
}
.OwnerSocialMediaContainer {
  position: absolute;

  bottom: 2vh;
  right: 6vw;
}

.OwnerSocialMedia {
  margin-right: 1.5vh;
  width: 1.7vw;
  height: 3.5vh;
  transition-duration: 0.5s;
}

.OwnerSocialMedia:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

@media (max-width: 1000px) {
  .OurCoursesSection {
    width: 100%;
    height: auto;
  }
  .SectionHeader {
    margin: 0;
    width: 100%;

    font-size: 5vh;
    height: auto;
    margin: 0;
  }
  .CardsContainer {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    height: 90vh;
  }
  .OurTeam {
    display: none;
  }

  .OwnerBlob1,
  .OwnerBlob2 {
    display: none;
  }

  .AboutUs-Des {
    font-size: 1.5vh;
    width: 90vw;
    margin: 5vw;
  }
  .OwnersCards {
    width: auto;
    height: 15vh;
    margin-bottom: 2vh;
  }
.OwnerInfo{
    width: 25vw;
    margin-left: 5vw;
}
  .OwnerImage {
    height: 6vh;
    width: 6vh;
    margin-bottom: 0vh;
  }
  .Ownerole {
    margin-left: 1vw;
    font-size: 1vh;
  }
  .OwnerName {
    font-size: 4vw;

    margin-left: 1vw;
  }
  .OwnerDetails {
    font-size: 2.5vw;
    margin-left: 1vw;
  }
  .OwnerSocialMediaContainer {
    margin-right: 1vh;

    width: 40vw;
    bottom: 0vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;

    right: 0vw;
  }
  .OwnerSocialMedia {
    margin-bottom: 0vh;
    height: 1.5vh;
    width: 3vw;
  }

  .OwnerInfo {
    padding-top: 0rem;
  }
}
