.dashboard {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.dashboard .dashboard-navbar {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  position: unset;
}

.dashboard .dashboard-navbar .dashboard-icon .dashboard-pic {
  margin-left: 20vw;

  height: 6vh;
}
.dashboard .dashboard-navbar .dashboard-links {
  margin-left: auto;
  width: auto;
  height: auto;
  margin-right: 1.5rem;
  border-bottom: 1px solid rgb(182, 179, 179);
  padding: 1.2vh;
}
.dashboard .dashboard-navbar .dashboard-links ul {
  display: flex;
  list-style: none;
  width: auto;
  height: auto;
}
.dashboard .dashboard-navbar .dashboard-links ul li {
  list-style: none;
  color: black;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 800;
  display: inline-block;
  cursor: pointer;
}
.dashboard .dashboard-sidebar {
  width: 19vw;
  background-image: url('../resources/dash2.jpg');
  background-size: cover;
  backdrop-filter: blur(0.2rem);
  border-radius: 0vh 5vh 5vh 0vh;
  height: 100vh;
  z-index: 4;
  margin-top: -8vh;
  display: block;
  color: white;
}
.dashboard .dashboard-sidebar .personal-info {
  /* background-color: coral; */
  width: 80%;
  margin: auto;
  padding: 7vh 2vh 3vh 2vh;
  height: auto;
  display: flex;
  color: white;
}

#personName {
  font-size: 3vh;
  color: white;
}
.dashboard .dashboard-sidebar .personal-info img {
  border-radius: 30rem;
  width: 40%;
  height: 40%;
  margin: auto;
  margin-right: 1rem;
  margin-left: -2vw;
  /* filter: drop-shadow(10px 10px 10px rgb(0, 213, 213)); */
  transition: all linear 200ms;
}
.dashboard .dashboard-sidebar .personal-info img:hover {
  transform: scale(1.1);
}
.dashboard .dashboard-sidebar .personal-info .user-info {
  width: 70%;
  height: 90%;
  margin: 0;
  color: white;
}
.dashboard .dashboard-sidebar .personal-info .user-info h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0vh;
  margin-top: 1vh;
}
.dashboard .dashboard-sidebar .personal-info .user-info h2 {
  font-size: 1rem;
  color: white;
  margin: 0;
  font-weight: 100;
}
.dashboard .dashboard-sidebar hr {
  width: 90%;
  margin-left: 5%;
  /* height: 2px; */
  background-color: teal;
  border: 2px solid teal;
  border-radius: 10rem;
}
.dashboard .dashboard-sidebar .choices {
  width: auto;
  height: auto;
  display: block;
  text-align: left;
  overflow: hidden;
}

.dashboard .dashboard-sidebar .choices li {
  cursor: pointer;
  list-style: none;
  height: auto;
  margin-left: -15%;
  margin-top: 1rem;
  padding: 0.6rem;
  text-align: left;
  font-size: 1.2rem;
  transition: all ease-in-out 200ms;
  border: 3px solid transparent;
  display: flex;
  align-items: center;
}

.dashboard .dashboard-sidebar .choices li img {
  height: 3vh;
  margin-right: 1vw;
}
.dashboard .dashboard-sidebar .choices li:hover {
  border-left-width: 5px;
  border-left-color: teal;
  background-color: rgba(199, 248, 248, 0.507);
}
.dashboard .other-section {
  width: 90%;
  height: auto;
}

.dashboard .other-section .component {
  margin: 3vh 3rem;
  height: 95vh;
  padding-bottom: 15vh;

  margin-bottom: 0vh;
  overflow: scroll;
}

#logout button {
  background-color: transparent;

  outline: none;
  border: none;
  padding: 1rem;
  position: absolute;
  bottom: 0vh;

  font-size: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#logout:hover {
  border-left-width: 0px;
  border-left-color: teal;
  background-color: transparent;
}
#logout img {
  height: 3vh;
  margin-right: 1vw;
}

#logout a {
  color: white;
}

@media screen and (max-width: 1000px) {
  .dashboard .dashboard-navbar {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    position: unset;
  }

  .dashboard .dashboard-navbar .dashboard-icon .dashboard-pic {
    margin-left: 0vw;
  }

  .dashboard .dashboard-sidebar {
    position: absolute;
    bottom: 1.5vh;
    height: 7vh;
    width: 94vw;
    margin-left: 3vw;
    overflow: hidden;
    border-radius: 2vh 2vh 2vh 2vh;
    background-size:45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
  }

  .dashboard .dashboard-sidebar .personal-info {
    display: none;
  }

  .dashboard .dashboard-sidebar hr {
    display: none;
  }
  .dashboard .dashboard-sidebar .choices {
    width: 100vw;
    height: 7vh;
    display: flex;    padding:0;

    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    overflow: hidden;
    z-index: 100;
    margin: 0;
  }
  .dashboard .dashboard-sidebar .choices li {
    flex-direction: column;
    width: 25vw;
    margin-top: 0;
    margin-left: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .dashboard .dashboard-sidebar .choices li p {
    font-size: xx-small;
  }

  .dashboard .dashboard-sidebar .choices li img {
    height: 3vh;
    margin-right: 0vw;
  }
  .dashboard .dashboard-sidebar .choices li:hover {
    border-left-width: 0px;
    border-left-color: teal;
    background-color: rgba(199, 248, 248, 0.507);
  }
  .dashboard .other-section {
    width: 100%;
    height: auto;
    
  }

  .dashboard .other-section .component {
    margin: 0;
    height: 93vh;
    width: 100%;

    padding: 0vh 0vw;

    

    margin-bottom: 0vh;
    overflow: scroll;
  }

  #logout {
    background-color: transparent;

    outline: none;
    border: none;
    padding: 0rem;
    position: absolute;
    bottom: 0vh;

    font-size: 1.2rem;
    display: flex;
    align-items: center;
    position: static;

    cursor: pointer;
  }

  #logout button {
    position: static;
    flex-direction: column;
  }
}
