.settings-column {
  width: 40%;
  height: auto;
}
.settings-column .account-settings h3 {
  color: gold;
  text-transform: uppercase;
  margin: 0;
  /* background: red; */
}
.settings-column .account-settings {
  display: block;
}
.settings-column .account-settings h1 {
  color: rgb(0, 106, 106);
}
.settings-column .account-settings p {
  color: rgb(49, 179, 179);
  background-color: white;
  width: fit-content;
  padding: 0 0.4rem;
  font-size: 75%;
  font-weight: 800;
  text-transform: uppercase;

  transform: translate(1vh, 1.3vh);
}

.settings-column .account-settings .settings-input {
  border-radius: 0.2rem;
  outline: none;
  width: 100%;
  border: 0.1px solid lightgrey;

  color: grey;
  padding: 0.7rem;
  border-radius: 10px;

  /* height: 90%; */
}
.settings-column .account-settings .settings-input.settings-input:focus {
  /* background-color: red; */

  margin-top: 2vh;
  transition-duration: 0.5s;
}

.settings-column .account-settings .settings-input.settings-input:focus {
  border: 2px solid #238636;
}

.BoxInput {
  margin-top: 1.5vh;
}

.settings-button {
  border-radius: 0.4rem;
  outline: none;
  width: 100%;
  border: 0.1px solid rgb(233, 233, 233);
  margin-top: 2vh;
  color: black;
  padding: 0.4rem;
  text-transform: uppercase;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.horizontal-line {
  width: 105%;
  margin-top: 5vh;
  background: grey;
  margin-bottom: 2vh;
}
.vertical-line {
  height: 100%;
  width: 0.01px;
  background: grey;
}

.AboutYouData {
  resize: none;
}
.AboutYouData:focus {
  height: 15vh;
}

.SaveChangesButton {
  background-color: #238636;
  color: white;
  padding: 1vh;
  width: 100%;
  border-radius: 5px;
  border: none;
  float: right;
  margin-top: 5vh;
  cursor: pointer;
  font-size: 1.2rem;
}
