@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

.Section1 {
  height: 100vh;
  width: 100vw;
  background-image: url(../../resources/team.jpg);
  background-size: cover;
}

.Section1 #nav {
  height: 8vh;
  width: 90vw;
  margin: 0 5vw 0 5vw;
  background-color: rgba(255, 255, 255, 0);
}

.Section1 #nav img {
  margin-top: 5vh;
  height: 10vh;
  -webkit-filter: brightness(170%);
          filter: brightness(170%);
}

.Section1 #nav button {
  height: 4vh;
  width: 10vw;
  float: right;
  margin: 2vh;
  font-size: 2vh;
  color: aqua;
  border: 2px solid #00c8c8;
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  border-radius: 5px;
}

.Section1 #nav button:hover {
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: black;
  background-color: #20eaf1;
}

.Section1 #Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Section1 #Content #Text {
  width: 75vw;
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Section1 #Content #Text h1,
.Section1 #Content #Text h2,
.Section1 #Content #Text button {
  margin-left: 5vw;
}

.Section1 #Content #Text h1 {
  font-size: 8vh;
  color: rgba(255, 255, 255, 0.842);
  text-shadow: 2px 2px rgba(255, 255, 255, 0.212);
}

.Section1 #Content #Text h2 {
  font-size: 5vh;
  color: rgba(255, 255, 255, 0.596);
}

.Section1 #Content #Text button {
  margin-bottom: 5vh;
  margin-top: 5vh;
  width: 20vw;
  height: 8vh;
  font-size: 3vh;
  background-color: #27e6ff;
  border-radius: 10px;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-weight: bold;
}

.Section1 #Content #Text button:hover {
  border: 5px solid #2ad3d3;
  color: aqua;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.Section1 #Content #introVideo video {
  margin-top: 50vh;
  margin-right: 5vw;
  height: 30vh;
  width: 30vw;
  border-radius: 25px;
}

@media screen and (max-width: 1000px) {
  .Section1 #nav img {
    height: 5vh;
    margin-top: 2vh;
  }
  .Section1 #nav button {
    width: 20vw;
  }
  .Section1 #Content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: 90vh;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Section1 #Content #Text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2vh;
    width: 100vw;
    height: 75vh;
    text-align: center;
  }
  .Section1 #Content #Text h1 {
    width: 90vw;
    font-size: 5vh;
  }
  .Section1 #Content #Text h2 {
    font-size: 3vh;
  }
  .Section1 #Content #Text button {
    width: 80vw;
    height: 6vh;
    margin-left: 0;
    font-size: 2.5vh;
  }
  .Section1 #Content #introVideo video {
    margin-top: -3vh;
    margin-right: 0vw;
    height: 20vh;
    width: 90vw;
  }
}
/*# sourceMappingURL=section1.css.map */