@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

.Section1 {
  height: 100vh;
  width: 100vw;
  background-image: url(../../resources/team.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.Section1 #nav {
  height: 8vh;
  width: 90vw;
  margin: 0 5vw 0 5vw;
  background-color: rgba(255, 255, 255, 0);
}

.Section1 #nav img {
  margin-top: 5vh;
  height: 10vh;
  z-index: 2;
}

.Section1 #nav button {
  height: 4vh;
  width: 10vw;
  float: right;
  margin: 2vh;
  font-size: 2vh;
  color: aqua;
  border: 2px solid #00c8c8;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(transparent));
  background: linear-gradient(to left, transparent, transparent);
  font-weight: bold;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Section1 #nav button img {
  margin: 0;
  margin-right: 1vw;
  height: 2vh;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.Section1 #nav button:hover {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  border: none;
  background: -webkit-gradient(linear, right top, left top, from(#17c8c8), to(rgba(42, 235, 171, 0.253)));
  background: linear-gradient(to left, #17c8c8, rgba(42, 235, 171, 0.253));
  cursor: pointer;
}

.Section1 #nav button:hover img {
  margin: 0;
  height: 2vh;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.Section1 #Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Section1 #Content #Text {
  width: 75vw;
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Section1 #Content #Text h1,
.Section1 #Content #Text h2,
.Section1 #Content #Text button {
  margin-left: 5vw;
}

.Section1 #Content #Text h1 {
  font-size: 8vh;
  color: rgba(255, 255, 255, 0.842);
  text-shadow: 2px 2px rgba(255, 255, 255, 0.212);
}

.Section1 #Content #Text h2 {
  font-size: 5vh;
  color: white;
}

.Section1 #Content #Text button {
  margin-bottom: 5vh;
  margin-top: 5vh;
  width: 20vw;
  height: 8vh;
  font-size: 3vh;
  background: -webkit-gradient(linear, left top, right top, from(#17c8c8), to(aquamarine));
  background: linear-gradient(to right, #17c8c8, aquamarine);
  border-radius: 10px;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-weight: bold;
}

.Section1 #Content #Text button:hover {
  border: 5px solid #2ad3d3;
  color: aqua;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(transparent));
  background: linear-gradient(to right, transparent, transparent);
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.Section1 #Content #introVideo {
  margin-top: 50vh;
  margin-right: 5vw;
  height: 30vh;
  border-radius: 25px;
}

@media screen and (max-width: 1000px) {
  .Section1 {
    margin-left: 0;
  }
  .Section1 #nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Section1 #nav img {
    height: 5vh;
    margin-top: 2vh;
  }
  .Section1 #nav button {
    width: 40vw;
    font-size: small;
  }
  .Section1 #nav button img {
    height: 2vh;
  }
  .Section1 #Content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: 90vh;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Section1 #Content #Text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2vh;
    width: 100vw;
    height: 75vh;
    text-align: center;
  }
  .Section1 #Content #Text h1 {
    width: 90vw;
    font-size: 5vh;
    margin-left: 0;
  }
  .Section1 #Content #Text h2 {
    font-size: 2vh;
    margin-left: 0;
  }
  .Section1 #Content #Text button {
    width: 80vw;
    height: 6vh;
    margin-left: 0;
    font-size: 2.5vh;
  }
  .Section1 #Content #introVideo {
    margin-top: 3vh;
    margin-right: 0vw;
    height: 20vh;
    border-radius: 10px;
    margin-bottom: 10vh;
  }
}
/*# sourceMappingURL=section1.css.map */