@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

@mixin flexAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cards {
  overflow: hidden;
  height: 100vh;
  position: relative;
  padding-bottom: 5vh;
  @include flexAlign();

  flex-direction: column;
  h1 {
    margin: 2vh;
    z-index: 2;
    font-size: 5vh;
    color: rgb(4, 163, 163);
    text-shadow: 1px 2px rgba(4, 163, 163, 0.37);
  }
  #section {
    margin: 3vh;
    color: rgb(4, 163, 163);
    text-shadow: 1px 2px rgba(4, 163, 163, 0.37);
  }

  #blob {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    #blob1 {
      position: absolute;
      left: -5vw;
      top: -5vh;
    }

    #blob2 {
      position: absolute;
      right: -5vw;
      bottom: -20vh;
    }
    img {
      height: 100vh;
    }
  }
}

.Row {
  @include flexAlign();
}

.reasonCard {
  position: relative;
  display: flex;
  margin: 1vh 2vh;

  background-color: rgba(255, 255, 255, 0.965);
  border: none;
  filter: drop-shadow(10px 10px 10px grey);
  border-radius: 10px;
  height: 15vh;
  width: 30vw;
  overflow: hidden;
  @include flexAlign();
  h2 {
    color: rgb(37, 214, 214);
    z-index: 2;
  }
  h4 {
    z-index: 2;
    color: rgb(143, 138, 138);
  }
  img {
    height: 10vh;
    margin-right: 1vw;
  }
  transition-duration: 0.7s;
  &:hover {
    transform: scale(1.2);
    transition-duration: 1s;
    z-index: 5;
  }
}

@media screen and (max-width: 1000px) {
  #cards {
    justify-content: flex-start;
    height: auto;

    #blob {
      #blob2 {
        bottom: -40vh;
      }
    }
  }
  .Row {
    flex-direction: column;
  }

  .reasonCard {
    border: none;
    filter: drop-shadow(10px 10px 10px grey);
    width: 80vw;
    height: 10vh;
    margin: 0.75vh;
    h2 {
      font-size: 1.8vh;
    }
    h4 {
      font-size: 1.3vh;
    }
    img {
      height: 6vh;
    }
  }

  h1 {
    font-size: 3vh;
  }

  #section {
    font-size: 2vh;
    z-index: 2;
  }
}
