@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#navBar {
  height: 5vh;
  width: 100vw;
}

img {
  height: 50px;
  
}
